/* ------------------------------ General & Setup Styling ------------------------------ */

/* ----- FONTS ----- in case we want to use some ----------------- */

/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/

html, body {
    font-family: 'Open Sans', sans-serif;
}

nav.navbar, th {
    font-family: 'Raleway', sans-serif;
}

#wdw-users {
    display: none;
}

.navbar {
    border-radius: 0 !important;
}

input {
    font-family: Arial, FontAwesome;
}

button {
    border-radius: 0 !important;
}



.fa-pencil {
    cursor: pointer;
}

.fa-trash-o {
    cursor: pointer;
}

/* ------------------------------ Company Styling ------------------------------ */

.fa {
    margin-right: 1vw;
}

.fa-arrow-down {
    color: red;
}

.fa-arrow-up {
    color: green;
}

#txtSearch {
    float: right;
}

/* ------------------------------ Users Styling ------------------------------ */

#txtSearchUsers {
    float: right;
}