/* ------------------------------ General & Setup Styling ------------------------------ */

#wdw-users {
    display: none;
}

.navbar {
    border-radius: 0 !important;
}

input {
    font-family: Arial, FontAwesome;
}

button {
    border-radius: 0 !important;
}

th {
    border-bottom: 0 !important;
}

.fa-pencil {
    cursor: pointer;
}

.fa-trash-o {
    cursor: pointer;
}

/* ------------------------------ Company Styling ------------------------------ */

.fa {
    margin-right: 1vw;
}

.fa-arrow-down {
    color: red;
}

.fa-arrow-up {
    color: green;
}

/* ------------------------------ Users Styling ------------------------------ */

#txtSearchUsers {
    float: right;
}